/* MONTSERRAT FONT */
@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* WORK-SANS FONT */

@font-face {
    font-family: work-sans;
    src: url('../fonts/work-sans/WorkSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: work-sans;
    src: url('../fonts/work-sans/WorkSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: work-sans;
    src: url('../fonts/work-sans/WorkSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: work-sans;
    src: url('../fonts/work-sans/WorkSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: work-sans;
    src: url('../fonts/work-sans/WorkSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(119, 118, 118);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.h-80 {
    height: 80% !important;
}

.h-20 {
    height: 20% !important;
}

.ps-6 {
    padding-left: 4rem !important;
}

.mt-4-5{
    margin-top: 2rem !important;
}

.mt-6{
    margin-top: 4rem !important;
}

.mt-7{
    margin-top: 4.5rem !important;
}

.mt-8{
    margin-top: 5rem !important;
}

.mt-9{
    margin-top: 5.5rem !important;
}

.mt-10{
    margin-top: 6rem !important;
}

.mt-12{
    margin-top: 7rem !important;
}

.mt-14{
    margin-top: 8rem !important;
}

.mt-16{
    margin-top: 9rem !important;
}

.mt-17{
    margin-top: 10rem !important;
}

.lh-1{
    line-height: 1em;
}

.lh-1-2{
    line-height: 1.2em;
}

.stretch-100 {
    width: 100%;
}

/* DEFAULT FOR FONTS AND TEXTS */

/* FONT FAMILY */

.sans-font {
    font-family: montserrat, Sans-serif;
}

.work-sans-font {
    font-family: work-sans !important;
}

/* FONT SIZES */

.f-size-0-6 {
    font-size: 0.6em;
}

.f-size-0-7 {
    font-size: 0.7em;
}

.f-size-0-8 {
    font-size: 0.8em;
}

.f-size-0-9 {
    font-size: 0.9em;
}

.f-size-1 {
    font-size: 1em;
}

.f-size-1-1 {
    font-size: 1.1em;
}

.f-size-1-2 {
    font-size: 1.2em;
}

.f-size-1-3 {
    font-size: 1.3em;
}

.f-size-1-3-5 {
    font-size: 1.35em;
}

.f-size-1-4 {
    font-size: 1.4em;
}

.f-size-1-5 {
    font-size: 1.5em;
}

.f-size-1-6 {
    font-size: 1.6em;
}

.f-size-1-7 {
    font-size: 1.7em;
}

.f-size-4 {
    font-size: 1.8em;
}

.f-size-1-9 {
    font-size: 1.9em;
}

.f-size-2 {
    font-size: 2em;
}

.f-size-2-2 {
    font-size: 2.2em;
}

.f-size-2-3 {
    font-size: 2.3em;
}

.f-size-2-4 {
    font-size: 2.4em;
}

.f-size-2-5 {
    font-size: 2.5em;
}

.f-size-2-7 {
    font-size: 2.7em;
}

.f-size-3 {
    font-size: 3em;
}

.f-size-3-2 {
    font-size: 3.2em;
}

.f-size-3-5 {
    font-size: 3.5em;
}

.f-size-6 {
    font-size: 4em;
}

/* FONT WEIGHT */

/* .text-weight-semiBold {
    font-weight: 600;
} */

.text-weight-extrabold {
    font-weight: 800;
}

.text-weight-bold {
    font-weight: 600;
}

.text-weight-bolder {
    font-weight: 700;
}

.text-weight-medium {
    font-weight: 500;
}

.text-weight-light {
    font-weight: 400;
}

.text-weight-lighter {
    font-weight: 300;
}

/* FONT COLOR */

.text-black {
    color: black;
}

.text-red {
    color: #f20505 !important;
}

.text-color-white {
    color: white;
}

.roxo-cativar {
    color: #bf05f2 !important;
}

.laranja-libertar {
    color: #ff6400 !important;
}

.laranja-libertar2 {
    color: #f17505;
}

.azul-encantar {
    color: var(--encantar);
}

.azul-encantar-2 {
    color: var(--encantar2);
}

.azul-encantar-3 {
    color: var(--encantarCardIcon);
}

.vermelho-principium {
    color: var(--principium);
}

.amarelo-fortunum {
    color: var(--fortunum);
}


/* NEON BEHAVIOR */

.neon-behavior-purple {
    text-shadow: 0 0 1px #bf05f2, 0 0 1px #bf05f2, 0 0 15px #bf05f2, 0 0 30px #bf05f2, 0 0 40px #bf05f2;
}

.neon-behavior-red {
    text-shadow: 0 0 1px #f20505, 0 0 1px #f20505, 0 0 15px #f20505, 0 0 30px #f20505, 0 0 40px #f20505;
}

.neon-behavior-yellow {
    text-shadow: 0 0 1px #E7EE00, 0 0 1px #E7EE00, 0 0 15px #E7EE00, 0 0 30px #E7EE00, 0 0 40px #E7EE00;
}

.neon-behavior-white-lighter {
    text-shadow: 0 0 0.6px white, 0 0 0.6px white, 0 0 0.6px white, 0 0 0.6px white, 0 0 0.6px white;
}

.neon-behavior-white-light {
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

.neon-behavior-white-medium {
    text-shadow: 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white;
}

.neon-behavior-white-intense {
    text-shadow: 0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 0.2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.5);
}

.neon-behavior-orange-light {
    text-shadow: 0 0 1px #ff6400, 0 0 1px #ff6400, 0 0 1px #ff6400, 0 0 1px #ff6400, 0 0 1px #ff6400;
}

.neon-behavior-orange-medium {
    text-shadow: 0 0 1.5px #ff6400, 0 0 1.5px #ff6400, 0 0 1.5px #ff6400, 0 0 1.5px #ff6400, 0 0 1.5px #ff6400;
}

.neon-behavior-orange-intense {
    text-shadow: 0 0 1px #ff6400, 0 0 1px #ff6400, 0 0 15px #ff6400, 0 0 30px #ff6400, 0 0 40px #ff6400;
}

.neon-behavior-blue-medium {
    text-shadow: 0 0 1.5px var(--encantar2), 0 0 1.5px var(--encantar2), 0 0 1.5px var(--encantar2), 0 0 1.5px var(--encantar2), 0 0 1.5px var(--encantar2);
}

.neon-behavior-blue-intense {
    text-shadow: 0 0 0.5px var(--encantar2), 0 0 0.5px var(--encantar2), 0 0 2px var(--encantar2), 0 0 30px var(--encantar2), 0 0 100px var(--encantar2);
}

.neon-behavior-red-intense {
    text-shadow: 0 0 0.5px var(--principium), 0 0 0.5px var(--principium), 0 0 2px var(--principium), 0 0 30px var(--principium), 0 0 100px var(--principium);
}

.no-shadow {
    text-shadow: none !important;
}

/* SPACING */

.letter-space-2 {
    letter-spacing: 2px;
}

.letter-space-1-5{
    letter-spacing: 1.5px;
}

.letter-space-0-8{
    letter-spacing: 0.8px;
}

/* TRANSFORM */

.transform-upper {
    text-transform: uppercase;
}

/* BORDER */

.border-encantar {
    border-radius: 0.5rem;
    border-color: var(--encantarCardIcon);
}

.border-principium {
    border-radius: 0.5rem;
    border-color: var(--principium);
    box-shadow: 0.1rem 0.05rem 0.4rem var(--principium);
}

/* BUTTONS */

.btn-large {
    height: 4rem;
}

#divClassButtonInitial {
    text-align: left !important;
}

/* KEYFRAMES */

@keyframes blinker {
    50% {
      transform: scale(1.1);
    }
}

/* RESPONSIVIDADE */

@media (max-width: 765px) {
    #divClassButtonInitial {
        text-align: center !important;
    }
    .reverse {
        display: flex;
        flex-flow: column-reverse;
    }
    .selo-garantia-img {
        width: 55%;
        height: 100%;
    }
    .swiper{
        width: 100% !important;
    }
}

@media (max-width: 1023px ){
    .swiper{
        width: 80% !important;
    }
}

@media (min-width: 1447px) {
    .resize-bs-col-md-4-lower {
        width: 25%;
    }
    .resize-bs-col-md-5-lower {
        width: 33.33333333%;
    }
    .resize-bs-col-md-6-lower {
        width: 41.66666667%;
    }
    .resize-bs-col-md-10-lower-2 {
        width: 66.66666667%;
    }
    .resize-bs-col-md-5-upper {
        width: 50%;
    }
    .resize-bs-col-md-1-upper {
        width: 16.66666667%;
    }
    .resize-bs-col-md-2-upper {
        width: 25%;
    }
}

.swiper {
    width: 60%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .swiper-button-next{
      color: white !important; 
  }

  .swiper-button-prev{
    color: white !important; 
  }