.serieLogo {
    width: 65%;
    /* margin-left: 5%; */
}

@media (max-width: 425px) { 
    .flogo, .logo-text {
        display: none !important;
    }
    .serieLogo{
        margin-top: -7% !important;
        width: 100%;
    }
}

@media (min-width: 2000px){
    .f-size-0-6 {
        font-size: 1rem;
    }
    .f-size-0-7 {
        font-size: 1.2rem;
    }
    .f-size-1 {
        font-size: 1.5rem;
    }
    .btn-netflix {
        font-size: 1.1rem;
    }
}