/*! CSS Used from: ../../css/farmacoflix/farmacoflix.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
hr{margin:1rem 0;color:inherit;background-color:currentColor;border:0;opacity:.25;}
hr:not([size]){height:1px;}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
strong{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
.logo-farmacologiaPratica{max-width:201.59px!important;max-height:90.75px!important;margin:auto!important;}
.logo-farmacologiaPratica-2{max-width:245.83px!important;max-height:58.33px!important;}
[role=button]{cursor:pointer;}
[type=button],button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.img-fluid{max-width:100%;height:auto;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-9{flex:0 0 auto;width:75%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-11{flex:0 0 auto;width:91.66666667%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.collapse:not(.show){display:none;}
.dropdown{position:relative;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.nav-link{display:block;padding:.5rem 1rem;color:#0d6efd;text-decoration:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.nav-link{transition:none;}
}
.nav-link:focus,.nav-link:hover{color:#0a58ca;}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem;}
.navbar>.container-fluid{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between;}
.navbar-brand{padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap;}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;transition:box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.navbar-toggler{transition:none;}
}
.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler:focus{text-decoration:none;outline:0;box-shadow:0 0 0 .25rem;}
@media (min-width:992px){
.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.navbar-dark .navbar-brand{color:#fff;}
.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{color:#fff;}
.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,.55);}
.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{color:rgba(255,255,255,.75);}
.navbar-dark .navbar-toggler{color:rgba(255,255,255,.55);border-color:rgba(255,255,255,.1);}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030;}
.align-items-center{align-items:center!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.me-auto{margin-right:auto!important;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom:.5rem!important;}
.p-2{padding:.5rem!important;}
.p-3{padding:1rem!important;}
.px-0{padding-right:0!important;padding-left:0!important;}
.text-center{text-align:center!important;}
@media (min-width:992px){
.mb-lg-0{margin-bottom:0!important;}
}
.fa-brands,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-bars:before{content:"\f0c9";}
.fa-bell:before{content:"\f0f3";}
.fa-play:before{content:"\f04b";}
.fa-thumbs-up:before{content:"\f164";}
.fa-volume-mute:before{content:"\f6a9";}
.fa-times:before{content:"\f00d";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
.fa-brands{font-family:"Font Awesome 6 Brands";font-weight:400;}
.fa-whatsapp:before{content:"\f232";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-6{margin-top:4rem!important;}
.mt-10{margin-top:6rem!important;}
.lh-1-2{line-height:1.2em;}
.f-size-0-6{font-size:0.6em;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-1{font-size:1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-4{font-size:1.4em;}
.f-size-2-6{font-size:2.6em;}
.f-size-2{font-size:2em;}
.f-size-1-9{font-size:1.9em;}
.text-weight-extrabold{font-weight:800;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-color-white{color:white;}
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
hr{margin:1rem 0;color:inherit;background-color:currentColor;border:0;opacity:.25;}
hr:not([size]){height:1px;}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
strong{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[role=button]{cursor:pointer;}
[type=button],button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.img-fluid{max-width:100%;height:auto;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-9{flex:0 0 auto;width:75%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-11{flex:0 0 auto;width:91.66666667%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.collapse:not(.show){display:none;}
.dropdown{position:relative;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.nav-link{display:block;padding:.5rem 1rem;color:#0d6efd;text-decoration:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.nav-link{transition:none;}
}
.nav-link:focus,.nav-link:hover{color:#0a58ca;}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem;}
.navbar>.container-fluid{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between;}
.navbar-brand{padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap;}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;transition:box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.navbar-toggler{transition:none;}
}
.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler:focus{text-decoration:none;outline:0;box-shadow:0 0 0 .25rem;}
@media (min-width:992px){
.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.navbar-dark .navbar-brand{color:#fff;}
.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{color:#fff;}
.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,.55);}
.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{color:rgba(255,255,255,.75);}
.navbar-dark .navbar-toggler{color:rgba(255,255,255,.55);border-color:rgba(255,255,255,.1);}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030;}
.align-items-center{align-items:center!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.me-auto{margin-right:auto!important;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom:.5rem!important;}
.p-2{padding:.5rem!important;}
.p-3{padding:1rem!important;}
.px-0{padding-right:0!important;padding-left:0!important;}
.text-center{text-align:center!important;}
@media (min-width:992px){
.mb-lg-0{margin-bottom:0!important;}
}
.fa-brands,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-bars:before{content:"\f0c9";}
.fa-bell:before{content:"\f0f3";}
.fa-play:before{content:"\f04b";}
.fa-thumbs-up:before{content:"\f164";}
.fa-volume-mute:before{content:"\f6a9";}
.fa-times:before{content:"\f00d";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
.fa-brands{font-family:"Font Awesome 6 Brands";font-weight:400;}
.fa-whatsapp:before{content:"\f232";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-6{margin-top:4rem!important;}
.mt-10{margin-top:6rem!important;}
.lh-1-2{line-height:1.2em;}
.f-size-0-6{font-size:0.6em;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-1{font-size:1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-9{font-size:1.9em;}
.text-weight-extrabold{font-weight:800;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-color-white{color:white;}
*{font-family:montserrat, Sans-serif;}
a,a:hover,a:focus,a:active{text-decoration:none;color:inherit;}
::selection{background:red;}
.black-background{background-color:black!important;}
.red-background{background-color:red!important;}
.grey-background{background-color:#1D1D1D;}
#myVideo{right:0;bottom:0;width:100%!important;height:100%!important;object-fit:cover;filter:brightness(40%);background-color:#1D1D1D;margin-top: -5%;}
.navbar-dark .nav-item .nav-link{color:#fff;}
.navbar-dark .nav-item .nav-link:hover{background-color:rgba(255, 255, 255, 0.1);transition:all 0.3s ease;border-radius:0.25rem;color:#fff;}
.bg-dark-transparent{background-color:rgba(0, 0, 0, 0.13);}
.flogo{vertical-align:middle;display:inline-block;}
.content{position:absolute;top:14%;color:#f1f1f1;width:100%;padding:20px;}
.btn-netflix{border-radius:3px;font-weight:600!important;background-color:white;color:#C83030;}
.btn-netflix:hover{transition:0.2s;color:#C83030;background-color:rgb(163, 162, 162);}
.btn-volume{color:white;border-style:solid;border-width:3px;border-color:white;background-color:transparent;border-radius: 50%; width: 40px; height: 40px;}
.btn-volume:hover{color:white;background-color:rgba(235, 235, 235, 0.55);}
.btn-wpp{background-color:white;color:rgb(37, 144, 80);height:100%;font-weight:bolder;}
.btn-wpp:hover{transition:0.2s;color:black;background-color:rgb(163, 162, 162);transform:scale(1.08);}
.entrar-grupo-wpp{color:white;text-decoration:none;cursor:pointer;}
.entrar-grupo-wpp:hover{color:white;}
.ativar-lembrete{color:#FDC232;text-decoration:none;cursor:pointer;}
.ativar-lembrete:hover{color:#FDC232;}
.col-right{text-align:right;}
.white-hr{color:white;}
.rounded-button{border-radius:70%;}
.rounded-button:focus{text-decoration:none;box-shadow:none;}
.background-perfis{display:none;position:fixed;width:100%!important;height:100%!important;background-color:black;}
.close-perfis{color:white;text-decoration:none;}
.close-perfis:hover{color:white;}
.card-background-age{height:70%;border-style:solid;border-radius:0;border-width:0 0 0 0;border-left-width:4px;border-left-color:rgba(231, 230, 230, 0.837);justify-content:center;flex-direction:column;}
.card-age-red{width:26px;height:26px;align-items:center;justify-content:center;align-items:center;flex-direction:column;}
.card-desconto{position:static;background-color:#C83030;color:white;font-weight:bold;border-radius:14px;}
@media (min-width: 765px){
.col-md-1-5{flex:0 0 auto;width:10%;}
}
.dropbtn{color:white;border:none;cursor:pointer;}
.dropdown{position:relative;display:inline-block;}
.dropdown-content{display:none;position:absolute;margin-right:10%;min-width:400px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;right:2;}
.logo-farmacologiaPratica{margin-left:16%;}
.centralizarObjetoCelular{text-align:left!important;}
.show-element{display:none;}
.show-element-topnav{display:none;}
.mt-neg-4{margin-top:-4%;}
.mt-neg-10{margin-top:-10%;}
.mt-neg-15{margin-top:-15%;}
.mt-neg-35{margin-top:-35%;}
.navbar-dark .navbar-toggler{border-style:none;border-width:0;border-color:unset;}
.nav-item{font-weight:600;}
.card-img-logo{max-width:50px;max-height:50px;}
.logo-text{max-width:79px;max-height:18px;font-size:12px;color:#929292;}
.navbar-toggler:focus,.navbar-toggler:active{outline:none;box-shadow:none;}
@media (max-width: 991px){
.show-element-topnav{display:block;}
}
@media (max-width: 1278px){
.f-size-1-2{font-size:1em;}
}
@media (max-width: 765px){
.background-perfis{overflow:scroll!important;overflow-x:hidden!important;}
.f-size-1.countdown{font-size:0.7em;}
.f-size-1-3{font-size:1em;}
.f-size-1-4{font-size:1em;}
.f-size-2-6{font-size:2em;}
.f-size-2{font-size:1.4em;}
.video-card{margin:0 auto 0!important;width:98%!important;}
.content-conteudo{background-color:#0E0E0E;border-radius:1rem;}
.content{background-color:#1D1D1D;position:relative;top:0%;color:#f1f1f1;width:100%;padding:20px;}
#myVideo{right:0;bottom:0;height:44%!important;object-fit:cover;filter:brightness(30%);margin-top: 10%;}
.centralizarObjetoCelular{text-align:center!important;}
.logo-farmacologiaPratica{margin-left:0%;}
.hide-element{display:none;}
.show-element{display:block;}
.bg-dark-transparent{background-color:black!important;}
.dropdown-content{position:fixed;right:3;left:3;margin-right:0%!important;min-width:0px!important;width:unset!important;height:unset!important;}
.flogo {height: 35px;}
.logo-text{margin-left: -2%;}
.tituloEpisodio{font-size: 1.3rem;}
}
@media (max-width: 426px){#myVideo{right:0;bottom:0;height:44%!important;object-fit:cover;filter:brightness(30%);margin-top: 17%;}}
.mt-neg-2{margin-top:-2%;}
.container-cards{display:flex;justify-content:center;gap:15px;}
.card-banner-hover{position:relative;}
.card-banner-hover:hover{z-index:1!important;}
.card-banner-hover:hover .content-conteudo,.card-banner-hover:active .content-conteudo{opacity:1;}
.card-banner-hover .content-conteudo{width:100%;position:absolute;background-color:#0E0E0E;transition:all ease 0.7s;opacity:0;top:0;filter:brightness(1.75);border-radius:1rem;}
.controls-video{color:white!important;position:relative;bottom:1rem;display:flex;margin-left:4%;align-items:center;gap:15px;}
#videos-banners{filter:brightness(40%);}
.btn-play{background-color:white;}
.btn-play:hover{color:black;transform:scale(1.1);}
.btn-pause{color:white;border-style:solid;border-width:3px;border-color:white;background-color:transparent;}
.btn-pause:hover{color:white;transform:scale(1.1);}
.relevance{color:#27d684;}
.btn-definir-lembrete{height:40px;background-color:white;font-weight:bold;color:#C83030;text-align:center;display:flex;align-items:center;cursor:pointer;transition:all ease 0.3s;transform:scale(1);}
.title-ep{color:#C83030;}
.hover-perfil:hover{border-style:solid!important;border-width:2px!important;border-color:rgb(212, 211, 211)!important;transition:0.2s;transform:scale(1.05);cursor:pointer;}
.direction-ltr{direction:ltr;}
.direction-rtl{direction:rtl;}
.position-relative{position: relative !important;}
.position-absolute{position: absolute !important;}
#myIcon {left: 25%;top: 25%;}
@media (max-width: 765px){.controls-video{position:unset;display:block;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 6 Brands";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Brands";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}