.fa-volume-up:before{content:"\f028";}
.hide-on-perfis {display: none;}
.show-on-perfis {display: block;}
.display-block-important {display: block !important;}
.thumb-liked-style {background-color: white !important;color: red !important;}
.hoverCountdown {position: absolute;bottom: 15%;left: 5%;}
@media (max-width: 765px) {
    .hoverCountdown {bottom: 10%;}
}