* {
    font-family: montserrat, Sans-serif;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

::selection {
    background: red;
}

.background-default{
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}
.background-default.banner1{
    background-color: black;
    background-position: -630px 0;
    /* background-image: url('../../assets/liberdadeemdolar/background01.avif'); */
    /* background-video */
}

.black-background {
    background-color: black !important;
}

.red-background {
    background-color: red !important;
}

.grey-background {
    background-color: #1D1D1D;
}

.card-top1 {
    border-radius: 0%;
    border-style: none;
    height: 10px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    /* background-color: black; */
    /* position: fixed; */
    /* position: static; */
    /* top: 0.1; */
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    filter: brightness(40%)
}

.position-absolute {
    position: absolute;
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.13);
}

.flogo {
    vertical-align: middle;
    display: inline-block;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 14%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.btn-netflix {
    border-radius: 3px;
    font-weight: 600 !important;
    background-color: white;
    color: #C83030;
}

.btn-netflix:hover {
    transition: 0.2s;
    color: #C83030;
    background-color: rgb(163, 162, 162);
}

.btn-play {
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}

.btn-volume {
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}

.btn-volume:hover {
    color: white;
    background-color: rgba(235, 235, 235, 0.55);
}

.btn-wpp {
    background-color: white;
    color: rgb(37, 144, 80);
    height: 100%;
    font-weight: bolder;
}

.btn-wpp:hover {
    transition: 0.2s;
    color: black;
    background-color: rgb(163, 162, 162);
    transform: scale(1.08);
}

.entrar-grupo-wpp {
    color: rgb(37, 144, 80);
    text-decoration: none;
    cursor: pointer;
}

.entrar-grupo-wpp:hover {
    color: rgb(37, 144, 80);
}

.ativar-lembrete {
    color: #C83030;
    text-decoration: none;
    cursor: pointer;
}

.ativar-lembrete:hover {
    color: #C83030;
}

.col-right {
    text-align: right;
}

.white-hr {
    color: white;
}

.rounded-button-play {
    border-radius: 70%;
    background-color: white;
    color: black;
}

.rounded-button {
    border-radius: 70%;
}

.rounded-button:focus {
    text-decoration: none;
    box-shadow: none;
}

.close-perfis {
    color: white;
    text-decoration: none;
}

.close-perfis:hover {
    color: white;
}

.card-background-age {
    height: 70%;
    border-style: solid;
    border-radius: 0;
    border-width: 0 0 0 0;
    border-left-width: 4px;
    border-left-color: rgba(231, 230, 230, 0.837);
    justify-content:center;
    flex-direction:column;
}

.card-age-red {
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.card-desconto {
    position: static;
    background-color: #C83030;
    color: white;
    font-weight: bold;
    border-radius: 14px;
}

@media (min-width: 765px) {
    .col-md-1-5 {
        flex: 0 0 auto;
        width: 10%;
    }
}

/* DROPDOWN STYLE */
/* Style The Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-right: 10%;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 2;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block !important;
  }

  .background-perfis {
      display: none;
      position: fixed;
      width: 100% !important;
      height: 100% !important;
      background-color: black;
  }

  .hide-on-perfis {
      display: none;
  }

    .show-on-perfis {
        display: block;
    }

  .logo-farmacologiaPratica {
      margin-left: 16%;
  }

  .display-block-important {
      display: block !important;
  }


.centralizarObjetoCelular {
    text-align: left !important;
}

.show-element {
    display: none;
}
.show-element-topnav {
    display: none;
}

.mt-neg-10 {
    margin-top: -10%;
}

.mt-neg-15 {
    margin-top: -15%;
}

.mt-neg-35 {
    margin-top: -35%;
}

.navbar-dark .navbar-toggler {
    border-style: none;
    border-width: 0;
    border-color: unset;
}

.nav-item {
    font-weight: 600;
}

.card-img-logo{
    max-width: 50px;
    max-height: 50px;
}

.logo-text{
    max-width: 79px;
    max-height: 18px;
    font-size: 12px;
    color: #929292;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 991px) {
    .show-element-topnav {
        display: block;
    }
    /* FAZER BOLA DE PERFIL E NOTIFICACOES AQUI */
}

@media (max-width: 1278px) {
    .f-size-1-2 {
        font-size: 1em;
    }
}

@media (max-width: 765px) {
    .f-size-1-3 {
        font-size: 1em;
    }
    .f-size-1-4 {
        font-size: 1em;
    }
    .content {
        background-color: #1D1D1D;
        position: relative;
        top: 0%;
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    #myVideo {
        right: 0;
        bottom: 0;
        height: 35% !important;
        object-fit: cover;
        filter: brightness(30%)
    }
    
    .centralizarObjetoCelular {
        text-align: center !important;
    }
    .logo-farmacologiaPratica {
        margin-left: 0%;
    }
    .hide-element {
        display: none;
    }
    .show-element {
        display: block;
    }
    .bg-dark-transparent {
        background-color: black !important;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        position: fixed;
        right: 3;
        left: 3;
        margin-right: 0% !important;
        min-width: 0px !important;
        width: unset !important;
        height: unset !important;
    }

    /* .dropdown:hover {
        display: none;
    } */

    .dropdown:hover .dropdown-content {
        display: none;
    }
    .col-right .remove-right {
        text-align: unset;
    }
}

.mt-neg-2 {
    margin-top: -2%;
}
    
/* Thumbnail */
.thumb{
    height: 190px;
    width: 330px;
}

.thumb-font{
    font-weight: 700;
}

.thumb-card{
    max-width: 400px
}

.button-size{
    max-width: 40px;
}

.thumb-video-font{
    font-size: 12px;
}

.thumb-video-text-green{
    font-size: 12px;
    color: #4ADE99;
}

/* CLASSES PARA BANNER */
.container-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-banner-hover  {
    width: 323px;
    position: relative;
}

.card-banner-hover:hover {
    z-index: 1 !important;
}

.card-banner-hover:hover .content-conteudo {
    opacity: 1;
}

.card-banner-hover:hover .content-conteudo .text-conteudo {
    display: block;
}

.card-banner-hover .content-conteudo {
    width: 100%;
    position: absolute;
    background-color: #0E0E0E;
    transition: all ease 0.7s;
    opacity: 0;
    top: 0;
    filter: brightness(1.75);
}

.text-conteudo {
    display: none;
}

.controls-video {
    color: white !important;
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#videos-banners {
    filter: brightness(40%);
}

.btn-play {
    padding: 0.6rem 0.7rem;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.btn-play:hover {
    color: black;
    transform: scale(1.1);
}

.btn-pause {
    padding: 0.5rem 0.6rem;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.btn-pause:hover {
    color: white;
    transform: scale(1.1);
}

.relevance {
    color: #27d684;
}

.btn-definir-lembrete{
    height: 40px;
    background-color: white;
    font-weight: bold;
    color: #C83030;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
    transform: scale(1);
}

.content-conteudo>button:hover {
    transform: scale(1.1);
}

.grey {
    color: rgb(167, 162, 162) !important;
}

.title-ep {
    color: #C83030;
}

.text-btn {
    margin-left: 4rem;
}

.thumb-liked-style {
    background-color: white;
    color: red !important;
}